---
import {Icon} from 'astro-icon/components'
import Form from '../components/Form.jsx'
---
<section class="flex items-center p-20 justify-around text-black  ">
    <header class='w-2/4  flex flex-col header'>
        <h4>Empieza ahora</h4>
        <p class=''>No dejes que la gestión financiera sea una carga. Con M.IA, puedes simplificar tus procesos, ahorrar tiempo y dinero, y tomar decisiones estratégicas con confianza. 
           <strong> ¡Regístrate hoy y transforma la manera en que manejas las finanzas de tu negocio!</strong>
        </p>
    </header>
   
      <Form client:load />
      
      <!-- <div class='flex flex-col gap-y-12 w-1/4 items-center'>
          <h4>¡Siguenos en nuestras redes!</h4>
          <div class='flex items-center justify-around w-1/2'>
                <h2>logo</h2>
                <h2>logo</h2>
                <h2>logo</h2>
          </div>

      </div> -->

</section>
<style>
  .header{
    align-items:start;
    justify-content:start;
  }
     section{
        background-color:#F7F5F2;
        height:40vh;
        width:100vw;
        padding:40px
     }
     .wrapp-formulario{
        background-color:#EAEAEA;
        box-shadow: 2px 2px 2px gray;
        
     }
    h4{
        margin-left:10%;
        font-weight:bold;
        font-size:56px;
    }
    .mensaje{
      color:#204D74;
      font-weight:bold;
      font-size:26px;
      line-height:1;
      margin-bottom:10px;

    }
    .btn-enviar{
      background-color:#204D74;
    }
    .btn-enviar:hover{
      background-color:#1B3E5C;
    }
    
    @media(max-width:1270px){
       
        section{
            flex-direction:column;
            height:auto;
            gap-y:40px;
            padding-left:20px;
            padding-right:20px;

            
        }
        header{
            width:100%;
            margin-bottom:40px;
        }
        form{
            margin-bottom:40px;
    }

    .header{
      width:100vw;
      align-items:center;
      justify-content:center;
      padding:20px
    }
    p{
      text-align:center;
    }
  
  }

    
	
</style>
